<h2>How well do you know your favorite rapper?</h2><br />

<p>Rap Genius has lyrics for virtually every rap song in existence, so their data is <i>perfect</i> for building a game to test your musical knowledge ;)</p>

<p><strong>First, find an artist's Rap Genius ID.</strong> You can find it by heading to their artist page and hovering over the "Follow" button - there'll be a number in the URL.</p>

<p>Next, head to <strong><span class="text-primary">https://guess-the-track.herokuapp.com/artists/&lt;ID&gt;</span></strong> to start playing.</p>

<p>Alternatively, simply choose a popular artist:</p>

<%= link_to "Drake", artist_path(130), class: "btn btn-default btn-block" %>
<%= link_to "Jay Z", artist_path(2), class: "btn btn-default btn-block" %>
<%= link_to "Kanye West", artist_path(72), class: "btn btn-default btn-block" %>
<%= link_to "A$AP Rocky", artist_path(12417), class: "btn btn-default btn-block" %>
<%= link_to "Kendrick Lamar", artist_path(1421), class: "btn btn-default btn-block" %>