<!DOCTYPE html>
<html>
<head>
  <title>Guess The Track</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><b>Guess The Track</b></a>
      <p class="navbar-text"><%= yield(:artist) %></p>
    </div>
  </div>
</nav>

<div class="container">
  <%= yield %>

  <hr />

  <p class="text-center">
    <i>
      Created by <a href="http://timrogers.co.uk">Tim Rogers</a> using his
      open source <a href="https://github.com/timrogers/rapgenius">rapgenius
      gem.
    </i>
  </p>
</div>

</body>
</html>
